<template>
  <v-layout id="text-area">
    <v-flex xs12>
      <v-text-field
        v-model="message"
        append-icon="send"
        solo
        auto-grow
        placeholder="Escribir mensaje..."
        type="text"
        @click:append="sendMessage"
        v-on:keyup.enter="sendMessage"
      ></v-text-field>
    </v-flex>
    <dialog-loader ref="dialogLoader" />
  </v-layout>
</template>
<script>
import ChatEntriesService from '../ChatEntriesService';
import DialogLoader from '../../../../../components/DialogLoader.vue';

export default {
  name: 'ChatTextArea',
  components: { DialogLoader },
  data() {
    return {
      message: '',
    };
  },
  methods: {
    sendMessage() {
      this.$refs.dialogLoader.show('Mandando mensaje');
      ChatEntriesService.sendMessage(this.negotiationId, this.message).then(() => {
        this.$refs.dialogLoader.hide();
        this.message = '';
        this.updateChatEntries();
      }).catch((error) => {
        this.$refs.dialogLoader.hide();
        console.log(error);
      });
    },
  },
  props: {
    negotiationId: {
      type: Number,
      required: true,
    },
    updateChatEntries: {
      type: Function,
      required: true,
    },
  },
};
</script>
<style scoped>
#text-area {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0 20px;
}
</style>
