<template>
  <v-layout row v-bind:justify-end="isUserMessage">
    <v-flex xs6 md4>
      <v-card class="message" color="#F9FBE7">
        <p>{{message_body}}</p>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  name: 'ChatSimpleMessage',
  data() {
    return {
      message_body: this.meta_data.data.body,
      user_role: this.meta_data.role,
      emitted_by: this.meta_data.emitted_by,
    }
  },
  computed: {
    isUserMessage() {
      return this.user_role === this.emitted_by;
    },
  },
  props: ['meta_data'],
};
</script>
<style scoped>
.message {
  padding: 10px;
  border-radius: 5px;
}
</style>
