<template>
  <v-layout row justify-center>
    <v-flex xs12 sm10 md8>
      <v-card class="offer" color="white">
        <div v-if="offer_type=='money'">
          <p>
            {{this.buyer_name}} está interesado en el artículo 
            <b>{{this.advertisement_name}}</b> que has publicado, por lo cual te hace una oferta de <b>${{this.offer.amount}} MXN.</b>
          </p>
        </div>
        <div v-else>
          <p>
            {{this.buyer_name}} está interesado en el artículo
            <b>{{this.advertisement_name}}</b> que has publicado, por lo cual te hace una oferta de <b>${{this.offer.amount}} MXN + {{this.offer.product_description}}</b>
            a manera de intercambio.
          </p>
        </div>
        <v-layout justify-end v-if="shouldShowActions">
          <v-card-actions>
            <v-btn id="reject-btn" color="#2979ff" outline @click="replyOffer(false)">
              Rechazar
            </v-btn>
            <v-btn id="accept-btn" color="#2979ff" dark @click="replyOffer(true)">
              Aceptar
            </v-btn>
          </v-card-actions>
        </v-layout>
        <p id="offer-status" v-else>
          {{offer_status_message}}
        </p>
      </v-card>
    </v-flex>
    <MessageDialog ref="MessageDialog"/>
  </v-layout>
</template>
<script>
import OfferHandler from '../../../../advertisements/scenes/singleAdvertisement/OfferHandler';
import MessageDialog from '../../../../../components/MessageDialog.vue';

export default {
  components: { MessageDialog },
  name: 'ChatOffer',
  data() {
    return {
      offer: this.meta_data.data.offer,
      offer_status: this.meta_data.data.status,
      user_role: this.meta_data.role,
      emitted_by: this.meta_data.emitted_by,
      buyer_name: this.meta_data.buyer_name,
      advertisement_name: this.meta_data.advertisement_name,
      negotiation_id: this.meta_data.negotiation_id,
    };
  },
  methods: {
    replyOffer(ignored) {
      OfferHandler.replyOffer(
        this.negotiation_id,
        this.offer.id,
        ignored,
        () => {
          this.$refs.MessageDialog.showDialog('Oferta respondida');
          this.offer_status = ignored ? 'rejected' : 'accepted';
        },
        (error) => {
          console.log(error);
          this.$refs.MessageDialog.showDialog('Error respondiendo la oferta');
        }
      );
    },
  },
  computed: {
    isUserMessage() {
      return this.user_role === this.emitted_by;
    },
    offer_type() {
      return this.offer.product_description != null
        ? 'product'
        : 'money';
    },
    offer_status_message() {
      switch (this.offer_status) {
        case 'accepted':
          return 'Oferta aceptada';
        case 'rejected':
          return 'Oferta rechazada';
        default:
          return 'Esperando respuesta';
      }
    },
    shouldShowActions() {
      return this.offer_status === 'waiting' && this.user_role === 'seller';
    },
  },
  props: ['meta_data'],
};
</script>
<style scoped>
.offer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

h5 {
  font-weight: normal;
  color: #757575;
}
p {
  margin-bottom: 0px;
  text-align: left;
}
#body-message {
  font-weight: bold;
}
#offer-status {
  text-align: right;
  color: #757575;
  padding-top: 10px;
}
</style>
