<template>
  <v-layout row justify-center>
    <v-flex xs12 sm10 md8>
      <v-card class="message" color="white">
        <h5>{{questionHeader()}}</h5>
        <p id="body-message">{{message_body}}</p>
        <div id="answer" v-if="answer!=null">
          <v-divider/>
          <p>
            R: {{answer}}
          </p>
          <p id="answer-date" v-if="false">
            Respondido Hoy, 12:30 p.m.
          </p>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  name: "ChatQuestion",
  data() {
    return {
      message_body: this.meta_data.data.body,
      answer: this.meta_data.data.answer,
      user_role: this.meta_data.role,
      emitted_by: this.meta_data.emitted_by,
    }
  },
  methods: {
    questionHeader() {
      return this.isUserMessage
        ? "Realizaste una pregunta"
        : "El usuario realizó una pregunta";
    },
  },
  computed: {
    isUserMessage() {
      return this.user_role == this.emitted_by
    }
  },
  props: ['meta_data']
}
</script>
<style scoped>
.message {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h5 {
  font-weight: normal;
  color: #757575;
}
p {
  margin-bottom: 0px;
}
#body-message {
  font-weight: bold;
}
#answer {
  padding-top: 10px;
}
#answer > p {
  padding-top: 10px;
}
#answer-date {
  text-align: right;
  color: #757575;
  visibility: collapse;
}
</style>
