<template>
  <v-layout row justify-center>
    <v-flex xs12 sm10 md8>
      <v-expansion-panel>
          <v-expansion-panel-content>
            <div slot="header">
              Recibiste una invitación de {{this.interested_name}} para cerrar la venta del artículo
            </div>
            <v-layout id="meeting-information" wrap justify-space-between>
              <v-flex xs6>
                <v-text-field
                  v-model="meeting_date"
                  label="Fecha"
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="meeting_time"
                  label="Hora"
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="meeting_info.address"
                  label="Dirección"
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-btn
                  block
                  color="#2979FF"
                  dark
                  :href="meeting_link"
                  target="_blank"
                >
                  Ver ubicación
                </v-btn>
              </v-flex>
            </v-layout>
          </v-expansion-panel-content>
          <p class="accepted_meeting">{{acceptance_status_message}}</p>
        </v-expansion-panel>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  name: 'ChatMeetingSchedule',
  data() {
    return {
      user_role: this.meta_data.role,
      emitted_by: this.meta_data.emitted_by,
      buyer_name: this.meta_data.buyer_name,
      seller_name: this.meta_data.seller_name,
      meeting_info: this.meta_data.data,
    };
  },
  computed: {
    isUserMessage() {
      return this.user_role === this.emitted_by;
    },
    interested_name() {
      return this.user_role === 'seller'
        ? this.buyer_name
        : this.seller_name;
    },
    acceptance_status_message() {
      switch (this.meeting_info.status) {
        case 'accepted':
          return 'Invitación aceptada';
        case 'rejected':
          return 'Invitación rechazada';
        default:
          return 'Esperando respuesta...';
      }
    },
    meeting_link() {
      return `https://www.google.com/maps/search/?api=1&query=${this.meeting_info.lat},${this.meeting_info.lng}`;
    },
    meeting_date() {
      const months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
      const date = new Date(this.meeting_info.schedule_timestamp * 1000);
      return `${date.getDate()} / ${months[date.getMonth()]} / ${date.getFullYear()}`;
    },
    meeting_time() {
      const date = new Date(this.meeting_info.schedule_timestamp * 1000);
      return `${date.getHours()}:${date.getMinutes()}`;
    },
  },
  props: ['meta_data'],
};
</script>
<style scoped>
.meeting-schedule {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
}
.v-expansion-panel {
  background-color: white;
  justify-content: start;
}
.accepted_meeting {
 color: green;
}
.rejected_meeting {
 color: red;
}
.waiting_meeting {
 color: gray;
}
#meeting-information {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}
h5 {
  font-weight: normal;
  color: #757575;
}
p {
  text-align: start;
  justify-content: start;
  padding-left: 24px;
  padding-right: 24px;
}
</style>
