<template>
  <v-layout row v-bind:justify-end="isUserMessage">
    <v-flex xs6 md4>
      <v-card class="error-message" color="#FFCCBC">
        <p>Mensaje con formato no soportado</p>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  name: "ChatErrorMessage",
  data() {
    return {
      user_role: this.meta_data.role,
      emitted_by: this.meta_data.emitted_by,
    }
  },
  computed: {
    isUserMessage() {
      return this.user_role == this.emitted_by
    }
  },
  props: ['meta_data']
}
</script>
<style scoped>
.error-message {
  padding: 10px;
  border-radius: 5px;
}
</style>
