<template>
<div class="shop-root">
  <div id="Empty">
    <center>¡Publica tu primer artículo!</center>
  </div>
  <div id="Articles">
     <ul id="adds"> 
       <li v-for="article in articles" :key="article">
         <v-flex xs12>
           <v-card color="white" class="black--text advertisement-card"> 
             <v-layout>
               <v-flex md1 xs4>
                 <v-img
                    :src="article.imageurl"
                    height="85px"
                    width= "85px"
                    contain
                    >
                    </v-img>
               </v-flex>
               <v-flex md11 xs8>
                 <v-card-title primary-title class="information">
                    <div>
                      <div id="article">{{article.title}}</div>
                      <div id="date">Publicado el {{article.updated_at}} </div>
                    </div>
                  </v-card-title>
               </v-flex>
               <v-flex md111 xs2>
                 <div>
                    <v-btn flat icon>
                      <v-icon>more_horiz</v-icon>
                    </v-btn>
                 </div>
               </v-flex>
             </v-layout>
           </v-card>
         </v-flex>
       </li>

     </ul>
     
    </div>
    <router-link to="/publish_advertisement">
        <v-btn       
          color="deep-orange accent-3"
          dark
          bottom
          right
          fab
          fixed
          id="add"
          value="Create"
         >
        <v-icon>add</v-icon>
        </v-btn>
     </router-link>    
  </div>
</template>

<script>

  import MyStoreService from '../../api/MyStoreService.js';
  import AdvertisementsFeed from '../advertisements/scenes/advertisementsFeed/AdvertisementsFeed.vue'
  export default {
    components:{AdvertisementsFeed},
    name: 'MyShop',
    methods: {
      getOwnAdvertisements(position){
        MyStoreService.getOwnAdvertisements(position).then((advertisements) =>{
          this.articles = advertisements;
          for (let i = 0; i < this.articles.length; i += 1) {
            const element = this.articles[i];
            if (element.image) {
              element.imageurl = element.image.data;
            }
          }
          this.showArticles();
        });
      },
      showArticles(){
        const empty = document.getElementById('Empty');
        const article = document.getElementById('Articles')
        if(this.articles.length==0){
          empty.style.display='block';
          article.style.display='none';
        }else{
          empty.style.display='none';
          article.style.display='block';
        }
      },
      getGeoLocation() {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            this.getOwnAdvertisements(position);
        return position;
        },
        (error) => {
          console.log(error);
        },
      );
      },
    },
    data () {      
      return {
    };
  },
  created() {
    this.getGeoLocation();
  },
};
</script>

<style scoped>
    #add{
        margin-bottom: 70px;
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .advertisement-card {
        margin-bottom: 10px;
    }
    #article{
        color: black;
        text-align: left;
    }
    #date{
      text-align: left;
      font-size: 12px;
      color:darkgray; 
    }
    #Empty{
      margin-top: 40vh;
      color: grey;
    }

</style>
