<template>
  <div class="advertisement-root">
    <div v-if="items.length >= 1">
      <h2>Recents</h2>

      <ul id="advertisement-list">
        <li v-for="(item, index) in items" :key="index">
          <router-link :to="'/advertisements/'+item.id">
            <v-flex xs12>
              <v-card color="white" class="black--text advertisement-card" >
                <v-layout>
                  <v-flex md1 xs4>
                    <v-img
                      :src="item.imageurl"
                      height="130px"
                      contain
                    ></v-img>
                  </v-flex>
                  <v-flex md11 xs8>
                    <v-card-title primary-title class="information">
                      <div>
                        <div class="headline">{{item.title}}</div>
                        <div>${{item.base_price}} {{negotiable_status_message(item)}}</div>
                        <div v-if="item.user != null">
                          Vendedor: {{item.user.display_name || ""}}
                        </div>
                      </div>
                    </v-card-title>
                  </v-flex>
                </v-layout>
                <v-divider light></v-divider>
              </v-card>
            </v-flex>
          </router-link>
        </li>
      </ul>
    </div>
    <div v-else>
      <h2 id="no-advertisements-message">
        Aún no hay anuncios publicados, sé el primero en hacerlo.
      </h2>
    </div>
    <DialogLoader ref="dialogLoader"/>
  </div>
</template>

<script>
import AdvertisementsService from '../../../../api/AdvertisementsService';
import DialogLoader from '../../../../components/DialogLoader.vue';

export default {
  name: 'AdvertisementsFeed',
  components: { DialogLoader },
  methods: {
    getAdvertisements(position) {
      this.$refs.dialogLoader.show('Cargando anuncios...');
      AdvertisementsService.getAdvertisements(position)
        .then((advertisements) => {
          this.items = advertisements;
          for (let i = 0; i < this.items.length; i += 1) {
            const element = this.items[i];
            if (element.image) {
              element.imageurl = this.convertUrlToHTTPS(element.image.data);
            }
          }
          this.$refs.dialogLoader.hide();
        }).catch((errorCode) => {
          this.$refs.dialogLoader.hide();
          if (errorCode === 405) {
            this.$router.go();
          } else {
            console.log(errorCode);
          }
        });
    },
    getGeoLocation() {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          this.getAdvertisements(position);
          return position;
        },
        (error) => {
          console.log(error);
          this.getAdvertisements();
        },
      );
    },
    negotiable_status_message(advertisement) {
      let message;
      if (advertisement.accept_changes) {
        message = 'Acepta cambios';
      } else {
        message = advertisement.negotiable
          ? 'Abierto a ofertas'
          : 'Precio único';
      }
      return message;
    },
    convertUrlToHTTPS(url) {
      return url.replace('http', 'https');
    },
  },
  data() {
    return {
      items: [],
    };
  },
  mounted() {
    this.$refs.dialogLoader.show('Cargando información...');
    this.getGeoLocation();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.advertisement-root {
  background: #f5f5f5;
  /* Todo: This needs to be changed */
  height: 1000px;
}
.information {
  text-align: left;
}
ul {
  padding: 0;
  margin-bottom: 70px;
}
.advertisement-card {
  margin-bottom: 15px;
}
h2 {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  padding: 10px;
}
#no-advertisements-message {
  text-align: center;
}
</style>
