<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Kiiwik">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>images/Logo-192x192.png">
    <meta name="msapplication-TileImage" content="<%= BASE_URL %>images/logo.svg">
    <meta name="msapplication-TileColor" content="#ff3d00">
    <title>Kiiwik</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but kiiwik-webapp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
