<template>
  <div class="messages-root">
    <v-tabs
      grow
      color="#ff3d00"
      slider-color="black"
      dark
    >
      <v-tabs-slider color="black"></v-tabs-slider>
      <v-tab :key="1" href="#seller">
        MIS VENTAS
      </v-tab>
      <v-tab :key="2" href="#buyer">
        MIS COMPRAS
      </v-tab>
      <v-tab-item :key="1" :value="'seller'">
        <NegotiationsFeed role="seller"/>
      </v-tab-item>
      <v-tab-item :key="2" :value="'buyer'">
        <NegotiationsFeed role="buyer"/>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import NegotiationsFeed from './Components/NegotiationsFeed.vue';

export default {
  name: 'NegotiationsSection',
  components: {
    NegotiationsFeed,
  },
};
</script>
