<template>
  <div id="body">
    <v-toolbar dark color="deep-orange accent-3" >
      <v-toolbar-title class="white--text">Publicar Anuncio</v-toolbar-title>
      <v-spacer/>
      <router-link to="/store">
        <v-btn icon>
          <v-icon>close</v-icon>
        </v-btn>
      </router-link>  
    </v-toolbar>
    <div>
      <v-stepper
        v-model="e1" 
        class="margin"
      >
        <v-stepper-header>
          <template v-for="n in steps">
            <v-stepper-step
              :key="`${n}-step`"
              :complete="e1 > n"
              :step="n"
              editable
              color = "deep-orange accent-3"
            >
            {{ n }} {{stepTitle(n)}}
            </v-stepper-step>
            <v-divider
              v-if="n !== steps"
              :key="n"
            />
          </template>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content
            style="padding:15px;"
            v-for="n in steps"
            :key="`${n}-content`"
            :step="n"
          >
          <div id="component-box">
            <component  v-bind:is="currentComponent"/>
            <div id="content">
              <v-btn
                large
                bottom
                color="deep-orange accent-3"
                id = "continue"
                class="white--text"
                @click="nextStep(n)"
                >{{buttonName(n)}}
              </v-btn>
            </div>
          </div>    
          </v-stepper-content> 
        </v-stepper-items>
      </v-stepper>
    </div>
  </div>
</template>

<script>

  import FirstStep from './FirstStep'
  import SecondStep from './SecondStep'
  import ThirdStep from './ThirdStep'
  import MapView from './MapView'
  export default {
    components:{FirstStep,SecondStep,ThirdStep,MapView},
    name: 'publish_advertisement',
    data () {
      return {
        e1: 1,
        steps: 3,
        
      }
      
    },

    watch: {
      steps (val) {
        if (this.e1 > val) {
          this.e1 = val
        }
      }
    },

    methods: {
      onInput (val) {
        this.steps = parseInt(val)
      },
      nextStep (n) {
        if (n === this.steps) {
          router-link
        } else {
          this.e1 = n + 1
        }
      },
      stepTitle(n){
        if(n==1){
          return ".-Descripcion"
        }else if(n==2){
          return ".-Precio"
        }else if(n==3)
          return ".-Publicacion"
        
      },
      buttonName(n){
        if(n==3){
          return "PUBLICAR"
        }else{
          return "CONTINUAR"
        }
      }
    },
     computed: {
    currentComponent: function () {
      let step = this.e1;
      
      switch (step) {
        case 1:
          return 'FirstStep';
        case 2:
          return 'SecondStep';
        case 3:
          return 'ThirdStep';
        default:
          return 'HelloWorld';
      }
    }
  },
  }
</script>

<style>
  #body{
    height: 100vh;
  }
  #content{
    width: 100%;
    bottom: 0;
    position:absolute;
  }
  #component-box{
    height: 80vh;
  }
  .margin{
    margin-top: 0%;
  }
  #continue{
    min-width:90%; 
    margin-left:3%;
  }
</style>
