<template>
  <div>
    <v-container  id="box">
      <h3 id="firstText">Ingresa los datos correspondientes al artículo que pondras a la venta.</h3>
      <v-layout>
        <v-flex md 1 xs12>  
          <h3 id="secondText">Ubicación de referencia</h3>
          <h5 id="thirdText">Asegurate de que la ubicación marcada sea la correcta, los usuarios podran ver tu ubicación</h5>
        </v-flex>
        <v-flex xs2>
          <v-btn 
            icon
            fab 
            id="location">
                <v-icon color="blue">location_on</v-icon>
          </v-btn>
          <v-dialog v-model="dialog"
            fullscreen
            class="padding"
            >
            <map-view></map-view>
            <v-btn
            color="blue"
            dark
            absolute
            bottom
            class="button"
            @click="dialog = false"
            >
            Continuar
            </v-btn>
          </v-dialog>
        </v-flex>
      </v-layout>
    </v-container>
    <v-card id ="card"
      @click.stop="dialog = true" 
    > 
      <v-dialog v-model="dialog"
        fullscreen
        class="padding"
      >
        <map-view id="map"></map-view>
      <v-btn
        color="blue"
        dark
        absolute
        bottom
        class="button"
        @click="dialog = false"
        >
          Continuar
      </v-btn>
      </v-dialog>
      <map-view id="map"/>
    </v-card>
    <div>
      <v-text-field
        label="Nombre del artículo en venta"
        color="deep-orange accent-3"
        counter
        required
        maxlength="50"
        class="bottom"
      ></v-text-field>
      <v-text-field
        counter
        maxlength="300"
        label="Descripción del artículo"
        color="deep-orange accent-3"
        required
        class="bottom"
      ></v-text-field>
      <v-text-field
        label="Etiquetas referentes al artículo"
        color="deep-orange accent-3"
        required
        hint="Máximo 5 etiquetas"
        persistent-hint
      ></v-text-field>
    </div>
  </div>
</template>
<script>

import MapView from './MapView'

export default {
  components: MapView,
  mounted() {
    this.geolocate();
  },

  data(){
    return{
      dialog: false,
    }
  },
  components:{MapView},
    name: "FirstStep",
    }
</script>

<style>
body {
  font-family: sans-serif, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#box{
  margin-bottom: 40px;
  margin-left: 0;
  padding: 0;
}
#card{
  height: 150px;
  overflow: hidden;
}
#firstText{
  margin-bottom: 20px;
}
#secondText{
  margin-bottom: 10px;
}
#thirdText{
  color: grey;
}
#location{
  position:absolute;
  right:10px;
}
.button{
  min-width: 90%;
  margin-left:5%;
  margin-bottom: 30px;
}
.padding{
  padding: 0;
}
.bottom{
  margin-bottom: 40px;
}
</style>
