<template>
  <div id="wrapper">
    <gmap-map
      id="mapa"
      :center="center"
      :zoom="16"
      :disableDefaultUI = true
    />
    <v-icon id="marks" large color="black">place</v-icon>
  </div>
</template>

<script>
export default {
  name: "GoogleMap",
  data() {
    return {
      center: { lat: 20.967130, lng: -89.623787 },
      places: [],
      currentPlace: null,
    };
  },

  mounted() {
    this.geolocate();
  },

  methods: {
    setPlace(place) {
      this.currentPlace = place;
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };
      });
    },
  }
};
</script>

<style>
  #wrapper { 
    position: relative; 
  }
  #over { 
    position: absolute; 
    top: 5px; 
    left: 10px; 
    z-index: 99; 
    height: 10px; 
  }
  #searchox{
    background-color:white; 
    height:30px; 
    width:250px
  }
  #mapa{
    width:100%; 
    height: 105vh;
  }
  #marks{
    position: absolute;
    top: 50%;
    left:50%;
  }
</style>
