<template>
  <div>
    <v-text-field
      label="Precio base del artículo"
      required
      color="deep-orange accent-3"
      prefix="$"
      type="#"
    ></v-text-field>
    <h3 style="color:grey;">¿Aceptas ofertas diferentes al precio base y/o otros artículos para cambio?</h3>
    <v-radio-group row>
      <v-radio label="Sí" value="radio-1" color="deep-orange accent-3"></v-radio>
      <v-radio label="No" value="radio-2" color="deep-orange accent-3"></v-radio>
    </v-radio-group>
    <v-text-field
      label="Cantidad mínima para considerar una oferta"
      required
      hint="Sólo el vendedor podrá visualizar esta información"
      persistent-hint
      prefix="$"
      color="deep-orange accent-3"
    ></v-text-field>
    </div>
</template>