<template>
  <div>
    <h3 style="color: grey;">Galeria del Producto</h3>
    <div style="margin-bottom:50px;padding-left:30%;">
      <v-btn
        flat
        icon
        fab
        large          
      >
        <v-icon color="blue"> library_add</v-icon>
      </v-btn>
        <h4 style="color:grey;">Agregar Imágenes</h4>
    </div>
      <h4 style="color: grey;">¿Quién Podrá ver tu publicación?</h4>
      <v-radio-group column>
        <v-radio label="Todos (Publico)" value="radio-1" color="deep-orange accent-3"></v-radio>
        <v-radio label="Amigos y Amigas de mis amigos" value="radio-2" color="deep-orange accent-3"></v-radio>
      </v-radio-group>
  </div>
</template>