<template>
  <div class="settings-root">
    <v-container>
      <v-flex>
        <v-form>
          <v-text-field
            v-model="name"
            :counter="20"
            label="Nombre de usuario"
            required
          ></v-text-field>
          <v-text-field
            v-model="distance"
            label="Distancia de busqueda"
            required
            type="number"
          ></v-text-field>
          <v-btn
            v-on:click="saveSettings"
            color="#ff3d00"
            dark>
            Guardar
          </v-btn>
        </v-form>
      </v-flex>
    </v-container>
  </div>
</template>

<script>
import Session from '../../api/Session';

export default {
  name: 'Settings',
  methods: {
    saveSettings() {
      if (this.name === '' && this.distance <= 0) return false;
      Session.setUsername(this.name);
      Session.setDistancePreference(this.distance);
      return true;
    },
  },
  data() {
    return {
      name: '',
      distance: '',
    };
  },
  created() {
    this.name = Session.getUsername();
    this.distance = Session.getDistancePreference();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
