<template>
  <v-dialog v-model="dialog" max-width="500px" persistent
  >
    <v-card>
      <v-card-title id="title">
        {{title}}
      </v-card-title>
      <v-card-text v-if="message != null">
        {{message}}
      </v-card-text>
      <v-card-actions>
        <v-btn id="accept-btn" flat @click="accept()">
          Aceptar
        </v-btn>
        <v-btn id="cancel-btn" flat @click="cancel()">
          Cancelar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  name: 'ConfirmationDialog',
  data() {
    return {
      dialog: false,
    };
  },
  methods: {
    showDialog(callback) {
      this.dialog = true;
      this.callback = callback;
    },
    hideDialog() {
      this.dialog = false;
    },
    accept() {
      this.callback();
      this.hideDialog();
    },
    cancel() {
      this.hideDialog();
    },
  },
  props: ['title', 'message', 'callback'],
};
</script>
<style scoped>
#title {
  font-weight: bold;
}
#accept-btn, #cancel-btn {
  color: #2979ff;
}
</style>
