<template>
  <v-layout
    align-center
    column
    justify-center
  >
    <v-content>
      <p class="display-1">Inicia sesión para poder acceder a las funciones de {{message}}</p>
    </v-content>
  </v-layout>
</template>
<script>
export default {
  name: 'LoginRequiredScreen',
  props: {
    message: {
      type: String,
      default: 'esta sección',
      required: false,
    },
  },
};
</script>
