<template>
  <div id="app">
  <v-app id="inspire">
  <v-card  height="100%">
    <v-toolbar app id="appbar" color="#ff3d00" fixed dark>
      <v-toolbar-title>{{bottomNav}}</v-toolbar-title>
      <v-spacer></v-spacer>
       <router-link :to="'/login'" v-if="!isLogged">
        <v-btn
          color="#2979ff"
        >
          Iniciar sesión
        </v-btn>
      </router-link>
    </v-toolbar>
    <v-content>
      <v-flex xs12>
        <router-view></router-view>
      </v-flex>
    </v-content>
    <v-bottom-nav
      :active.sync="bottomNav"
      :value="true"
      dark
      fixed
      color="black"
    >
      <router-link to="/advertisements">
        <v-btn color="#ff3d00" flat value="Anuncios">
          <span>Anuncios</span>
          <img class="bottom-icon" src="../assets/icons/ic_publications_black.png">
        </v-btn>
      </router-link>

      <router-link to="/store">
        <v-btn flat value="Mi Tienda" color="#ff3d00" >
          <span>Mi Tienda</span>
          <img class="bottom-icon" src="../assets/icons/ic_store_black.png">
        </v-btn>
      </router-link>

      <router-link to="/negotiations">
        <v-btn color="#ff3d00" flat value="Mensajes">
          <span>Mensajes</span>
          <img class="bottom-icon" src="../assets/icons/ic_chat_black.png">
        </v-btn>
      </router-link>

      <router-link to="/settings">
        <v-btn color="#ff3d00" flat value="Configuración">
          <span>Configuración</span>
          <img class="bottom-icon" src="../assets/icons/ic_settings_black.png">
        </v-btn>
      </router-link>
    </v-bottom-nav>
  </v-card>
  </v-app>
  </div>
</template>

<script>
import { KEYS } from '../utils/Constants';

export default {
  name: 'app',
  data() {
    return {
      bottomNav: 'Anuncios',
      isLogged: localStorage.getItem(KEYS.LOGGED_IN),
    };
  },
};
</script>

<style>
.bottom-icon {
  height: 30px;
}


.v-btn--active .bottom-icon {
  color: white;
}

a{
  text-decoration: none;
}
</style>
