<template>
  <v-dialog v-model="messageDialog" max-width="500px" persistent
  >
    <v-card>
      <v-card-title>
        {{message}}
      </v-card-title>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  name: 'MessageDialog',
  data() {
    return {
      messageDialog: false,
      message: '',
    };
  },
  methods: {
    showDialog(message) {
      this.messageDialog = true;
      this.message = message;
      const delayInMS = 3000;
      setTimeout(() => {
        this.messageDialog = false;
      }, delayInMS);
    },
    hideDialog() {
      this.messageDialog = false;
    },
  },
};
</script>
<style scoped>
#success-message {
  font-weight: bold;
}
</style>
