<template>
  <v-layout row justify-center>
    <v-btn
      color="#FF3D00"
      block
      dark
      large
      @click.stop="toogleDialog()"
    >
      Realizar oferta
    </v-btn>
    <v-dialog
      v-if="isOfferBasePrice"
      v-model="basePriceDialog"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">¿Deseas ofertar por éste artículo?</v-card-title>
        <v-card-text>La oferta que enviarás será por el costo que el vendedor ha descrito en el anuncio.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="#2979FF" flat @click="toogleDialog()">CANCELAR</v-btn>
          <v-btn color="#2979FF" flat @click="toogleDialog()">OFERTAR</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-else-if="isDifferentOffer"
      v-model="diferentOfferDialog"
      max-width="290"
      fullscreen
      hide-overlay
      persistent>
    <v-card>
      <v-toolbar dark color="#FF3D00">
        <v-btn icon dark @click="toogleDialog()">
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>Realizar oferta</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark flat @click="sendOffer()">Enviar</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-container>
        <p>{{offerInstructions}}</p>
        <template v-if="offerType === 'acceptChanges'">
        <v-text-field
          v-model="priceOffer"
          label="Precio a ofrecer"
          required
          type="number"
        />
        <v-text-field
          v-model="articleOffer"
          label="Artículo a intercambiar"
          required
          type="text"
        />
      </template>
      <template v-if="offerType === 'differentPrice'">
        <v-text-field
          v-model="priceOffer"
          label="Precio a ofrecer"
          required
          type="number"
        />
      </template>
      </v-container>
    </v-card>
    </v-dialog>
    <ConfirmationDialog
      ref="confirmationDialog"
      v-bind:message="'Una vez enviada la oferta tendrás que esperar a que el vendedor responda.'"
      v-bind:title="'¿Deseas ofertar por éste artículo?'"
      v-bind:callback="sendPriceOffer"/>
    <MessageDialog ref="MessageDialog"/>
  </v-layout>
</template>
<script>
import OfferHandler from './OfferHandler';
import ConfirmationDialog from '../../../../components/ConfirmationDialog.vue';
import MessageDialog from '../../../../components/MessageDialog.vue';

export default {
  components: {
    MessageDialog,
    ConfirmationDialog,
  },
  name: 'OfferCreation',
  data() {
    return {
      dialog: false,
      basePriceDialog: false,
      diferentOfferDialog: false,
      articlePriceDialog: false,
      priceOffer: this.basePrice,
      articleOffer: '',
      MessageDialog: false,
    };
  },
  computed: {
    isOfferBasePrice() {
      return this.offerType === 'basePrice';
    },
    isDifferentOffer() {
      return this.offerType === 'differentPrice' || 'acceptChanges';
    },
    acceptChanges() {
      return this.offerType === 'acceptChanges';
    },
    offerInstructions() {
      return this.offerType === 'acceptChanges'
        ? 'Describe la oferta que enviarás al vendedor, puedes ofrecer otro precio, un artículo a cambio o ambos.'
        : 'Ingresa la oferta que enviarás. Recuerda que el vendedor solo acepta ofertas monetarias.';
    },
  },
  methods: {
    toogleDialog() {
      switch (this.offerType) {
        case 'differentPrice':
        case 'acceptChanges':
          this.diferentOfferDialog = !this.diferentOfferDialog;
          break;
        default:
          this.basePriceDialog = !this.basePriceDialog;
      }
    },
    getPriceOffer() {
      return parseInt(this.priceOffer, 10);
    },
    sendOffer() {
      switch (this.offerType) {
        case 'acceptChanges':
          this.$refs.confirmationDialog.showDialog(this.sendDifferentOffer);
          break;
        case 'basePrice':
        case 'differentPrice':
          this.$refs.confirmationDialog.showDialog(this.sendPriceOffer);
          break;
        default:
          console.log('Error in the front');
      }
    },
    sendPriceOffer() {
      OfferHandler.sendPriceOffer(
        this.sellerId,
        this.advertisementId,
        this.getPriceOffer(),
        () => {
          this.$refs.MessageDialog.showDialog('Oferta realizada con éxito');
          this.diferentOfferDialog = false;
        },
        (error) => {
          console.log(error);
          this.$refs.MessageDialog.showDialog('Error en la creación de la oferta');
        },
      );
    },
    sendDifferentOffer() {
      OfferHandler.sendProductOffer(
        this.sellerId,
        this.advertisementId,
        this.getPriceOffer(),
        this.articleOffer,
        () => {
          this.$refs.MessageDialog.showDialog('Oferta realizada con éxito');
          this.diferentOfferDialog = false;
        },
        (error) => {
          console.log(error);
          this.$refs.MessageDialog.showDialog('Error en la creación de la oferta');
        },
      );
    },
  },
  props: ['offerType', 'basePrice', 'advertisementId', 'sellerId'],
};
</script>
