<template>
  <v-layout row justify-center>
    <v-btn
      color="#FF3D00"
      block
      outline
      dark
      large
      @click.stop="toogleDialog()"
    >
      Tengo dudas sobre el artículo
    </v-btn>
    <v-dialog
      v-model="dialog"
      max-width="290"
      fullscreen
      hide-overlay
      persistent>
    <v-card>
      <v-toolbar dark color="#FF3D00">
        <v-btn icon dark @click="toogleDialog()">
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>Solicitar información</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark flat @click="confirmQuestion()">Enviar</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-container>
        <p>¿Tienes dudas acerca de este producto? Envíale un mensaje al vendedor.</p>
        <v-text-field
          v-model="question"
          label="Escriba aquí..."
          required
          type="text"
        />
      </v-container>
    </v-card>
    </v-dialog>
    <ConfirmationDialog
      ref="confirmationDialog"
      v-bind:message="'Una vez hecha la pregunta deberás esperar a que el vendedor responda para poder realizar otra.'"
      v-bind:title="'¿Deseas enviar tu pregunta?'"
      v-bind:callback="sendQuestion"/>
    <MessageDialog ref="MessageDialog"/>
  </v-layout>
</template>
<script>
import ConfirmationDialog from '../../../../components/ConfirmationDialog.vue';
import MessageDialog from '../../../../components/MessageDialog.vue';
import OfferHandler from './OfferHandler';

export default {
  name: 'QuestionCreation',
  components: {
    MessageDialog,
    ConfirmationDialog,
  },
  data() {
    return {
      dialog: false,
      diferentOfferDialog: false,
      MessageDialog: false,
      question: '',
    };
  },
  methods: {
    toogleDialog() {
      this.dialog = !this.dialog;
    },
    confirmQuestion() {
      this.$refs.confirmationDialog.showDialog(this.sendQuestion);
    },
    sendQuestion() {
      OfferHandler.createQuestion(
        this.sellerId,
        this.advertisementId,
        this.question,
        () => {
          this.$refs.MessageDialog.showDialog('Pregunta realizada con éxito');
          this.dialog = false;
          this.question = '';
        },
        (errorMessage) => {
          console.log(errorMessage);
        },
      );
    },
  },
  props: {
    advertisementId: {
      type: Number,
      required: true,
    },
    sellerId: {
      type: Number,
      required: true,
    },
  },
};
</script>
