<template>
  <div id="app" class="advertisement-root">
    <div v-if="advertisement != undefined">
      <v-toolbar id="single-advertisement-toolbar" color="elevation-0" fixed dark>
        <v-btn @click="goBack()" icon>
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-toolbar>
      <v-layout justify-center>
        <v-flex xs12>
          <v-carousel hide-delimiters height="350">
            <v-carousel-item
              v-for="(item,i) in images_urls"
              :key="i"
              :src="convertUrlToHTTPS(item.data)"
            ></v-carousel-item>
          </v-carousel>
        </v-flex>
      </v-layout>
      <v-container fluid grid-list-lg>
        <v-layout row wrap>
          <v-flex d-flex xs12 md6>
            <v-flex xs12>
              <h1>
              {{advertisement.title}}
              </h1>
              <h3 class="base-price">
                ${{advertisement.base_price}} {{negotiable_status_message}}
              </h3>
            </v-flex>
          </v-flex>
          <template v-if="shouldShowActions()">
            <v-flex d-flex xs12 md6>
              <v-layout row wrap>
                <v-flex d-flex xs12 md6>
                  <offer-creation
                    v-bind:offerType="offerType"
                    v-bind:basePrice="advertisement.base_price"
                    v-bind:advertisementId="advertisement.id"
                    v-bind:sellerId="advertisement.user.id"/>
                </v-flex>
                <v-flex d-flex xs12 md6>
                  <question-creation
                    v-bind:advertisementId="advertisement.id"
                    v-bind:sellerId="advertisement.user.id"/>
                </v-flex>
              </v-layout>
            </v-flex>
          </template>
          <v-flex d-flex xs12>
            <v-layout row wrap grid-list-sm>
              <v-flex xs12>
                <p>Vendedor: {{advertisement.user.display_name}}</p>
              </v-flex>
              <v-flex xs12>
                <p>Ubicación: {{advertisement.city}}, {{advertisement.state}}</p>
              </v-flex>
              <v-flex xs12>
                <p>{{advertisement.body}}</p>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    <DialogLoader ref="dialogLoader" />
  </div>
</template>

<script>
import AdvertisementsService from '../../../../api/AdvertisementsService';
import OfferCreation from './OfferCreation.vue';
import QuestionCreation from './QuestionCreation.vue';
import DialogLoader from '../../../../components/DialogLoader.vue';
import Session from '../../../../api/Session';

export default {
  components: { OfferCreation, QuestionCreation, DialogLoader },
  name: 'SingleAdvertisement',
  data() {
    return {
      images_urls: 'https://cdn11.bigcommerce.com/s-hfhomm5/images/stencil/1280x1280/products/180/451/Solid_Red_Sized__25214.1507754519.jpg?c=2&imbypass=on',
      advertisementTitle: '',
      advertisement: undefined,
    };
  },
  methods: {
    goBack() {
      if (window.history.length > 1) {
        this.$router.go(-1);
      } else {
        this.$router.to('/');
      }
    },
    getSingleAdvertisement() {
      this.$refs.dialogLoader.show('Cargando anuncio...');

      const advertisementId = this.$route.params.id;
      AdvertisementsService.getSingleAdvertisement(advertisementId).then((advertisement) => {
        this.$refs.dialogLoader.hide();

        this.images_urls = advertisement.images;
        this.advertisementTitle = advertisement.title;
        this.advertisement = advertisement;
      });
    },
    convertUrlToHTTPS(url) {
      return url.replace('http', 'https');
    },
    shouldShowActions() {
      const isOwnerOfTheAdvertisement = this.advertisement.user.id === parseInt(Session.getUserId(), 0);
      return Session.isLoggedIn() && !isOwnerOfTheAdvertisement;
    },
  },
  computed: {
    offerType() {
      let offerType = '';
      if (this.advertisement.accept_changes) {
        offerType = 'acceptChanges';
      } else {
        offerType = this.advertisement.negotiable
          ? 'differentPrice'
          : 'basePrice';
      }
      return offerType;
    },
    negotiable_status_message() {
      let message;
      switch (this.offerType) {
        case 'acceptChanges':
          message = 'Acepta cambios';
          break;
        case 'differentPrice':
          message = 'Abierto a ofertas';
          break;
        default:
          message = 'Precio único';
      }
      return message;
    },
  },
  mounted() {
    this.getSingleAdvertisement();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {
  color: black;
  background-color: white;
}
h1, h3 {
  font-weight: normal;
}
h1::first-letter, h3::first-letter {
  text-transform: capitalize;
}
p {
  margin-bottom: 0;
  color: #757575;
}
.container {
  background-color: white;
}
#app {
  text-align: start;
  color: black;
}
#single-advertisement-toolbar {
  background-color: transparent;
  color: white;
}
</style>
