<template>
  <div class="negotiations-feed">
      <v-flex>
        <v-list two-line>
          <template v-for="(negotiation, index) in negotiations">
            <router-link
              :to="'/negotiations/'+negotiation.id"
              :key="negotiation.id"
            >
              <v-list-tile avatar>
                <v-list-tile-avatar>
                  <img v-if="negotiation.advertisement.image != undefined" :src="negotiation.advertisement.image.image_url_thumb">
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{negotiation.advertisement.title}}
                  </v-list-tile-title>
                  <v-list-tile-sub-title v-if="role==='seller'">
                    comprador: {{negotiation.buyer_name}}
                  </v-list-tile-sub-title>
                  <v-list-tile-sub-title v-else>
                    Vendedor: {{negotiation.seller_name}}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider :key="index"/>
            </router-link>
          </template>
        </v-list>
      </v-flex>
      <DialogLoader ref="dialogLoader"/>
  </div>
</template>

<script>
import NegotiationsService from '../NegotiationsService';
import DialogLoader from '../../../../../components/DialogLoader.vue';

export default {
  name: 'NegotiationsFeed',
  components: { DialogLoader },
  data() {
    return {
      negotiations: [],
    };
  },
  methods: {
    getNegotiations() {
      this.$refs.dialogLoader.show('Cargando negociaciones...');
      NegotiationsService.getNegotiations(this.role)
        .then((negotiations) => {
          this.negotiations = negotiations;
          this.$refs.dialogLoader.hide();
        })
        .catch((error) => {
          this.$refs.dialogLoader.hide();
          console.log(error);
        });
    },
  },
  mounted() {
    this.getNegotiations();
  },
  props: ['role'],
};
</script>
