<template>
  <div id="chat-container">
    <v-toolbar color="#ff3d00" app id="hey" dark fixed flat>
      <v-btn @click="goBack()" icon>
        <v-icon>keyboard_arrow_left</v-icon>
      </v-btn>
      <v-list-tile class="grow">
        <v-list-tile-avatar color="grey darken-3">
          <v-img :src="advertisement_image_url" />
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title class="toolbar-title">{{interested_name}}</v-list-tile-title>
          <v-list-tile-sub-title>{{role_name}}</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-toolbar>
    <v-content class="common-background">
      <v-flex xs12 align-content-center>
        <router-link :to="`/advertisements/`+advertisement_id">
          <v-card color="white">
            <v-card-text>Artículo: {{advertisement_name}}</v-card-text>
          </v-card>
        </router-link>
      </v-flex>
      <v-container grid-list-md text-xs-start >
        <template v-for="(chat_entry, index) in chat_entries">
            <component
              :key="index"
              v-bind:is="getChatEntryComponentName(chat_entry)"
              v-bind:meta_data="getChatEntryData(chat_entry)"
            />
        </template>
        <h2 v-if="chat_entries.length == 0">Aún no tienes mensajes en la negociación</h2>
      </v-container>
      <ChatTextArea
        v-if="should_show_chat"
        v-bind:negotiationId="this.negotiationId"
        v-bind:updateChatEntries="updateChatEntries"
      />
      <DialogLoader ref="dialogLoaderChat"/>
    </v-content>
  </div>
</template>
<script>
import Session from '../../../../api/Session';
import NegotiationsService from '../Negotiations/NegotiationsService';
import ChatEntriesService from './ChatEntriesService';
import ChatSimpleMessage from './components/ChatSimpleMessage.vue';
import ChatMeetingSchedule from './components/ChatMeetingSchedule.vue';
import ChatQuestion from './components/ChatQuestion.vue';
import ChatOffer from './components/ChatOffer.vue';
import ChatErrorMessage from './components/ChatErrorMessage.vue';
import ChatTextArea from './components/ChatTextArea.vue';
import DialogLoader from '../../../../components/DialogLoader.vue';

export default {
  name: 'Chat',
  components: {
    ChatOffer,
    ChatQuestion,
    ChatSimpleMessage,
    ChatMeetingSchedule,
    ChatErrorMessage,
    ChatTextArea,
    DialogLoader,
  },
  data() {
    return {
      chat_entries: [],
      seller_name: '',
      buyer_name: '',
      buyer_id: 0,
      seller_id: 0,
      advertisement_name: '',
      advertisement_image_url: '',
      advertisement_id: 0,
      should_show_chat: false,
    };
  },
  methods: {
    goBack () {
      window.history.length > 1
        ? this.$router.go(-1)
        : this.$router.to('/negotiations')
    },
    getChatEntryComponentName(chatEntry) {
      switch (chatEntry.chateable_type) {
        case 'chat_message':
          return 'ChatSimpleMessage';
        case 'chat_question':
          return 'ChatQuestion';
        case 'chat_offer_update':
          return 'ChatOffer';
        case 'chat_meeting_schedule':
          return 'ChatMeetingSchedule';
        default:
          console.log('Error');
          console.log(chatEntry);
          return 'ChatErrorMessage';
      }
    },
    getChatEntryData(chatEntry) {
      let data;
      switch (chatEntry.chateable_type) {
        case 'chat_message':
          data = chatEntry.chat_message;
          break;
        case 'chat_question':
          data = chatEntry.chat_question;
          break;
        case 'chat_offer_update':
          data = chatEntry.chat_offer_update;
          break;
        case 'chat_meeting_schedule':
          data = chatEntry.chat_meeting_schedule;
          break;
        default:
          data = [];
      }
      return {
        data,
        role: this.role,
        emitted_by: chatEntry.emitted_by,
        advertisement_name: this.advertisement_name,
        buyer_name: this.buyer_name,
        negotiation_id: this.negotiationId,
      };
    },
    updateChatEntries() {
      this.$refs.dialogLoaderChat.show('Cargando mensajes...');
      ChatEntriesService.getChatEntries(this.negotiationId)
        .then((chatEntries) => {
          this.chat_entries = chatEntries;
          this.$refs.dialogLoaderChat.hide();
        })
        .catch((error) => {
          this.$refs.dialogLoaderChat.hide();
          console.log('Something went wrong with the chat');
          console.log(error);
        });
    },
  },
  computed: {
    role() {
      const userId = Session.getUserId();
      return this.seller_id === Number(userId)
        ? 'seller'
        : 'buyer';
    },
    interested_name() {
      return this.role === 'seller'
        ? this.buyer_name
        : this.seller_name;
    },
    role_name() {
      return this.role === 'seller'
        ? 'Vendedor'
        : 'Comprador';
    },
    negotiationId() {
      return parseInt(this.$route.params.id, 10);
    },
  },
  mounted() {
    this.$refs.dialogLoaderChat.show('Cargando información de chat...');
    NegotiationsService.getNegotiation(this.negotiationId)
      .then((negotiation) => {
        const {
          advertisement,
          seller_name,
          buyer_name,
          seller_id,
          buyer_id,
          has_unignored_offer,
        } = negotiation;

        this.seller_name = seller_name;
        this.buyer_name = buyer_name;
        this.seller_id = seller_id;
        this.buyer_id = buyer_id;
        this.should_show_chat = has_unignored_offer;

        this.advertisement_name = advertisement.title;
        this.advertisement_image_url = advertisement.image.image_url_thumb;
        this.advertisement_id = advertisement.id;
        this.$refs.dialogLoaderChat.hide();

        this.updateChatEntries();
      })
      .catch((error) => {
        this.$refs.dialogLoaderChat.hide();
        console.log(error);
      });
  },
};
</script>
<style scoped>
.v-list {
  background-color: #F5F5F5 !important;
}
#inspire {
  background-color: #F5F5F5;
}
.v-card__text {
  text-align: center;
  font-weight: bold;
}
.toolbar-title {
  font-weight: bold;
}
h2 {
  text-align: center;
  font-weight: normal;
}
</style>
