<template>
  <div class="advertisement-root">
    <img id="logo" src='../../../assets/logo.svg'/>
    <div id="textfield">
    <v-text-field
        label="Elige un nombre de usuario"
        color="white"
        dark
        v-model="input.username"
      ></v-text-field>
    </div>
    <h4 class="words">Puedes cambiarlo luego</h4>
    <v-facebook-login
      id="button"
      app-id="512310868977160"
      v-on:login="login"
      >
    </v-facebook-login>
  </div>
</template>

<script>
import { VFBLogin as VFacebookLogin } from 'vue-facebook-login-component';
import Auth from '../../../utils/Auth';
import { ROUTES } from '../../../utils/Constants';

export default {
  name: 'Login',
  components: {
    VFacebookLogin,
  },
  methods: {
    login(response) {
      if (!this.input.username || this.input.username === '') {
        return false;
      }
      Auth.login(
        response.authResponse.userID,
        response.authResponse.accessToken,
        this.input.username,
        () => {
          this.$router.replace(ROUTES.SECTIONS.ADVERTISEMENTS);
        },
      );
      return true;
    },
  },
  data() {
    return {
      input: {
        username: '',
      },
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.advertisement-root {
  background: #ff3d00;
  height: 100vh;
  margin-top: 0;
  /* Todo: This needs to be changed */
}
.words {
  color:white;
  text-align: center;
  max-width: 100%;
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 176px;
  margin-bottom:30px;
}
#button{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#textfield{
  width: 240px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
</style>
}
